{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://use.fontawesome.com/31e4cbd41a.js"></script>
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'blog/css/home_style.css' %}">
        <link rel="icon" type="image/png" href="{% static 'blog/img/cabin.svg' %}" class="logo"/>
        <title>WordMixer</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">WordMixer | 
                    {% if user.is_authenticated %}
                        Merhaba, {{user.username}}
                    {% endif %}
                    </a>
                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <ul class="nav__list">
                        <li class="nav__item"><a href="{% url 'anasayfa' %}" class="nav__link active">Anasayfa</a></li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Hizmetler 
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="{% url 'duyguanalizi' %}">Duygu Analizi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'anahtarkelime' %}">Anahtar Kelime Çıkarımı</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'özetleme' %}">Özetleme</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'advarlık' %}">Ad Varlık Tanımlama</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'sorucevap' %}">Soru Cevaplama</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'konutanım' %}">Konu Tanımlama</a>
                                </li>
                            </ul>
                        </div> 
                    </li>
                        <li class="nav__item"><a href="{% url 'kaydol' %}" class="nav__link">Çıkış Yap</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__img">
                        <img src="{% static 'blog/img/typewriter.svg' %}" alt="" data-speed="-2" class="move">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">Word<br> Mixer <br></h1>
                        <h2 class="home__secondtitle"> Türkçe Metin İşleme Platformu</h2>
                        <p class="home__description">Word Mixer, duygu analizi, özetleme,<br> konu tanımlama, soru cevaplama, <br> ad varlık tanımlama ve anahtar kelime çıkarma 
                            <br> gibi özellikleri içermektedir. 
                            <br> Yapay zekaya öğretilen bu NLP teknikleri ile 
                            <br> metinlerinizi istediğiniz gibi kontrol edebilirsiniz. 
                        </p>
                        <a href="{% url 'duyguanalizi' %}" class="home__button" >Hadi Başlayalım!</a>
                    </div>
                </div>
            
             <!--========== ABOUT ==========-->
             <section class="about section " id="about">
                <div class="about__container  bd-grid">
                    <div class="about__img">
                        <img src="{% static 'blog/img/about.svg' %}"alt="" data-speed="-2" class="move">
                    </div>

                    <div class="about__data">
                        <span class="section-subtitle about__initial">Hizmetlerimiz Hakkında</span>
                        <h2 class="section-title about__initial">WordMixer nasıl <br> çalışır? </h2>
                        <p class="about__description">
                            Word Mixer'a kolaylıkla bağlanabilir ve metinlerinizi web sitemizde analiz edebilirsiniz.<br> 
                            İstediğiniz hizmeti seçtikten sonra, metinlerinizi ekleyebilirsiniz.<br>
                            Web sitesine metinlerinizi ekledikten sonra, 'Dene' butonuna tıklayarak analize başlayabilirsiniz.<br>
                            Bu sürecin sonunda ihtiyaç duyduğunuz şekilde analiz sonucunuzu 'Sonuç' kutucuğu içinde görebilirsiniz.<br>
                            Web sitesi yardımı ile herhangi bir kod yazmadan işlemlerinizi gerçekleştirebilirsiniz.</p>
                    </div>
                </div>
            </section>
        </section>
        </main>

        <!--===== GSAP =====-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'blog/js/home_js.js' %}"></script>
    </body>
</html>