{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ===== ICONS ===== -->
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://use.fontawesome.com/31e4cbd41a.js"></script>
    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'blog/css/sign-style.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'blog/img/cabin.svg' %}" class="logo"/>
    <title>Hoşgeldiniz!</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <!-- ===== SIGN IN ===== --> 
          <div>
            {% for message in messages %}
            <p> {{message}} </p>
            {% endfor %}
          </div>
          <form action="#" method="POST" class="sign-in-form">
            <h2 class="title"> WordMixer'a Hoşgeldin!</h2>
            <br>
              {% csrf_token %} 
            <h2 class="title">Giriş Yap</h2>

            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Kullanıcı Adı" value="" id="load_username"/>
              {{username}}
            </div>

            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Şifre" id="load_password" />
              {{password}}
            </div>

            <input type="submit" value="Oturum Aç" class="btn solid" name='submit' />
          </form>
          <!-- ===== SIGN UP ===== -->
          <form  class="sign-up-form" method="POST">
             {% csrf_token %}     
            <h2 class="title">Hesap Oluşturun</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Kullanıcı Adı" name="username" value="" id="new_username" />
              {{username}}
            </div>

            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="E-posta Adresi" name="email" value="" id="email" />
              {{email}}
            </div>

            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Şifre" name="password" value="" id="new_password"/>
              {{password}}
            </div>
            <input type="submit" class="btn" value="Kayıt Ol" name='submit'/>
          </form>
        </div>
      </div>
      <!-- ===== LEFT PANEL ===== -->
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <div class="slideshow-container">

              <div class="mySlides">
                <h3>Burda Yeni Misin?</h3>
                <p> WordMixer'in birbirinden kullanışlı NLP teknikleri ile 
                  metinlerinizi istediğiniz gibi kontrol edebilirsiniz.
                  Peki, NLP nedir ve teknikleri nelerdir? <br>
                  Natural language processing yani NLP Türkçe'de doğal dil işleme demektir. 
                  Bu teknikler metininiz hakkında çeşitli bilgi kazanmanızı sağlar.</p>
              </div>
              
              <div class="mySlides">
                <h3>NLP Tekniklerimiz</h3>
                <p >*Duygu Analizi: Doğal dil işlemeyi kullanarak metnin olumsuz veya olumlu ifadesini inceler.
                  <br>*Anahtar Kelime Çıkarımı: Metni en iyi tanımlayan kelimeyi ya da kelimleri çıkarır.
                  <br>*Özetleme: Girilen metinin içindeki en önemli ve ya ilgili verileri ele alır ve bir özet oluşturur.</p>
                
              </div>
              
              <div class="mySlides">
                <p>*Ad Varlık Tanıma: Metindeki belirli veri türlerini tanımlamak ve sınıflandırmak için kullanılır.
                  <br>*Soru cevaplama: Girilen metin hakkında sorulan sorulara metin içinden cevap bulur.
                  <br>*Konu modelleme: Girilen metnin anlamını belirlemek için kullanlır. </p>
              </div>

              <div class="mySlides">
                <p>Tüm bu teknikleri deneyimlemek için kayıt olun 
                  <br>ve metininiz üstünde çalışmaya başlayın! </p>
              </div>
              
              <a class="prev" onclick="plusSlides(-1)">❮</a>
              <a class="next" onclick="plusSlides(1)">❯</a>
              </div>
              <button class="btn transparent" id="sign-up-btn">
                Kayıt Ol
              </button>
          </div>
          <img src="{% static 'blog/img/login.svg' %}" class="image" alt="" width="200" height="200" />
        </div>
        <!-- ===== RIGHT PANEL ===== -->
        <div class="panel right-panel">
          <div class="content">
            <h3>Bizden Biri Misin?</h3>
            <p>
              Haydi, hemen giriş yap!
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Giriş Yap
            </button>
          </div>
          <img src="{% static 'blog/img/loving_it.svg' %}" class="image" alt="" width="300" height="300" />
        </div>
      </div>
    </div>
   </div>
    <!-- ===== SIGN PAGE TRANSITION JS ===== -->
    <script src="{% static 'blog/js/sign.js' %}"></script>
  </body>
</html>