<html>
<body>
    <h1>Turkish NLP Web App !</h1>

    <div>
        <h2>Sentiment Analizi</h2>
         <form action="{{ url_for('sentiment')}}" method="post">
             <input type="text" name="input_text">
             <input type="submit" value="Sentiment Analizi Yap!">
             <h3>Hello, {{ response }}</h3>

        </form>


    </div>

        <div>
        <h4>Konu çıkarımı</h4>
         <form action="{{ url_for('categorization')}}" method="post">
             <input type="text" name="input_text">
             <input type="submit" value=" Konu Çıkarımı Yap!">
             <h3>{{ response_cat }}</h3>
        </form>
    </div>



</body>
</html>