{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://use.fontawesome.com/31e4cbd41a.js"></script>
        <script src="https://kit.fontawesome.com/64d58efce2.js"crossorigin="anonymous" ></script>
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'blog/css/links_nav.css' %}"> 
        <link rel="stylesheet" href="{% static 'blog/css/link_styles.css' %}">
        <link rel="icon" type="image/png" href="{% static 'blog/img/cabin.svg' %}" class="logo"/>
        <title>Özetleme | WordMixer</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-header-grid">
                <div>
                    <a href="{% url 'anasayfa' %}" class="nav__logo">Özetleme | WordMixer</a>
                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <ul class="nav__list">
                        <li class="nav__item"><a href="{% url 'anasayfa' %}" class="nav__link active">Anasayfa</a></li>
                        <li class="nav__item">
                            <a href="#skills" class="nav__link">Hizmetler 
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="{% url 'duyguanalizi' %}">Duygu Analizi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'anahtarkelime' %}">Anahtar Kelime Çıkarımı</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'özetleme' %}">Özetleme</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'advarlık' %}">Ad Varlık Tanımlama</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'sorucevap' %}">Soru Cevaplama</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'konutanım' %}">Konu Tanımlama</a>
                                </li>
                            </ul>
                        </div> 
                    </li>
                        <li class="nav__item"><a href="{% url 'kaydol' %}" class="nav__link">Çıkış Yap</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main class="grid-parent">

            <section class="main-content">
              <h2 class="main-title" >Özetleme Nedir?</h2>
              <p>Özetleme, orijinal bilginin içindeki en önemli veya ilgili verileri ele alır ve bir özet oluşturur. <br>
                Özetleme kısaca metni okur ve metni anladıktan sonra eski metinde kullanılmayan yeni cümlelerle metni yeniden yazar.</p>
              
            </section>
            <section class="sidebar">
             <div class="side_container side_container--fit">
                <div class = "item-1">
                    <label for="card"> 
                        <i class="fas fa-pencil-alt prefix"></i> Özetleme
                    </label> 
                    <div class="property-card">
                        <div class="property-description">
                          <h3> Nasıl Kullanılır? </h3>
                          <p>
                            Metni Türkçe olarak özetleyebilirsiniz. 
                            <br> Bu özetleme modülü, içeriğinizi analiz etmek ve orijinalin özünü koruyan bir özet oluşturmak için istatistiksel algoritmalar, doğal dil işleme teknolojisi kullanır.
                          </p>
                          <h4>Örnek: 
                            <br> ► Bir şeyi yok etmeden düzeltmeye alışmak da lazım. Başlanan bir şeye devam etmek ve onu bitirmek, insan iradesinin başarısıdır.
                             Bunun zıddına biz, maymun iştahlılık deriz. Maymun iştahlı, mesela bir atkı örmeye başlar, bitirmeden başka bir işe geçer; 
                             bir kitabı okumaya koyulur, sekiz on sayfa bile okumadan onu atar, bir diğerinin yapraklarını karıştırmak ister.
                            <br>
                             <br> Sonuç: Maymun iştahlı, mesela bir atkı örmeye başlar, bitirmeden başka bir işe geçer; 
                            bir kitabı okumaya koyulur, sekiz on sayfa bile okumadan onu atar, bir diğerinin yapraklarını karıştırmak ister.</h4>
                            <p> Sizde üsteki kutucuğa kendi metninizi yazıp "Dene" tuşuna bastıktan sonra sonucunuzu görebilirsiniz.
                                Kelime sınırı yoktur. İstediğiniz kadar yazabilirsiniz.☻
                                </p>
                        </div>
                    </div>
                </div>
                <div class = "item-2">
                    <form class="input_text" method="POST" action="{% url 'sum_sonuc'%}">
                        {% csrf_token %}
                        <div class="heading"> 
                            Kendi Metniniz ile Test Edin...
                        </div> 
                        <textarea class="input" type="text" name="input_text"></textarea>
                        <br>
                        <button type="submit" class="btn" name="submit" >Dene</button>

                        <div class="heading"> Girilen Metin </div>
                        <p style="color:#2b2e4a;">
                        <br> {{ payload.text }}
                        </p>
                    </form>  
                    <div class="heading">Sonuç </div>
                        <div class="outcome" style="color:#2b2e4a;" > 
                            {% if response %}
                                <p><strong>{{response}}</strong></p> 
                            {% endif %}
                        </div>
                </div>
                <div class = "item-3">
                    <img src="{% static 'blog/img/özetleme_img.svg' %}"alt="" width="375" height="400">
            
                </div>
            </div>
         </section>
        
          </main>
        
        <!--===== GSAP =====-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'blog/js/links.js' %}"></script>
    </body>
</html>