{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://use.fontawesome.com/31e4cbd41a.js"></script>
        <script src="https://kit.fontawesome.com/64d58efce2.js"crossorigin="anonymous" ></script>
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'blog/css/links_nav.css' %}"> 
        <link rel="stylesheet" href="{% static 'blog/css/link_styles.css' %}">
        <link rel="icon" type="image/png" href="{% static 'blog/img/cabin.svg' %}" class="logo"/>
        <title>Soru Cevaplama | WordMixer</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-header-grid">
                <div>
                    <a href="{% url 'anasayfa' %}" class="nav__logo">Soru Cevaplama | WordMixer</a>
                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <ul class="nav__list">
                        <li class="nav__item"><a href="{% url 'anasayfa' %}" class="nav__link active">Anasayfa</a></li>
                        <li class="nav__item">
                            <a href="#skills" class="nav__link">Hizmetler 
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="{% url 'duyguanalizi' %}">Duygu Analizi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'anahtarkelime' %}">Anahtar Kelime Çıkarımı</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'özetleme' %}">Özetleme</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'advarlık' %}">Ad Varlık Tanımlama</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'sorucevap' %}">Soru Cevaplama</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'konutanım' %}">Konu Tanımlama</a>
                                </li>
                            </ul>
                        </div> 
                    </li>
                        <li class="nav__item"><a href="{% url 'kaydol' %}" class="nav__link">Çıkış Yap</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main class="grid-parent">

            <section class="main-content">
              <h2 class="main-title" >Soru Cevaplama Nedir?</h2>
              <p>Soru cevaplama, metin hakkında kullanıcı tarafından girilen sorulara cevap verir.<br>
                Bu yöntem, kullanıcının metin hakkında kolayca bilgi almasını sağlar. </p>
              
            </section>
            <section class="sidebar">
             <div class="side_container side_container--fit">
                <div class = "item-1">
                    <label for="card"> 
                        <i class="fas fa-pencil-alt prefix"></i> Soru Cevaplama
                    </label> 
                    <div class="property-card">
                        <div class="property-description">
                          <h3> Nasıl Kullanlır? </h3>
                          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                        </div>
                    </div>
                </div>
                <div class = "item-2">
                    <form class="input_text" method="POST" action="{% url 'qa_sonuc'%}">
                        {% csrf_token %}
                        <div class="heading"> 
                            Kendi Metniniz ile Test Edin... 
                        </div> 
                        <textarea class="input" type="text" name="input_text"></textarea>
                        <div class="heading_2"> Metin ile ilgili sorunuzu yazınız
                        </div>
                        <input  class="basic_input" type="key_number" name="key_number">
                            <button type="submit" class="btn" name="submit" >Dene</button>
                    </form>  
                    <div class="heading">Sonuç </div>
                        <div class="outcome"> 
                            {% if response %}
                                <p><strong>{{ response.result }}</strong></p>
                            {% endif %}
                        </div>
                </div> 
                <div class = "item-3">
                    <img src="{% static 'blog/img/soru_img.svg' %}"alt="" width="375" height="400">
                </div> 
            </div>
            </section>
        
          </main>
        
        <!--===== GSAP =====-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'blog/js/links.js' %}"></script>
    </body>
</html>