{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://use.fontawesome.com/31e4cbd41a.js"></script>
        <script src="https://kit.fontawesome.com/64d58efce2.js"crossorigin="anonymous" ></script>
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'blog/css/links_nav.css' %}"> 
        <link rel="stylesheet" href="{% static 'blog/css/links_styles.css' %}">

        <title>Konu Tanımlama | WordMixer</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-header-grid">
                <div>
                    <a href="{% url 'anasayfa' %}" class="nav__logo">Konu Tanımlama | WordMixer</a>
                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <ul class="nav__list">
                        <li class="nav__item"><a href="{% url 'anasayfa' %}" class="nav__link active">Anasayfa</a></li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Hizmetler 
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="{% url 'duyguanalizi' %}">Duygu Analizi</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'anahtarkelime' %}">Anahtar Kelime Çıkarımı</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'özetleme' %}">Özetleme</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'advarlık' %}">Ad Varlık Tanımlama</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'sorucevap' %}">Soru Cevaplama</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="{% url 'konutanım' %}">Konu Tanımlama</a>
                                </li>
                            </ul>
                        </div> 
                    </li>
                        <li class="nav__item"><a href="{% url 'kaydol' %}" class="nav__link">Çıkış Yap</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main class="grid-parent">

            <section class="main-content">
              <h2 class="main-title" >Konu Tanımlama Nedir?</h2>
              <p>Konu modelleme, metnin anlamını belirlemek için kullanılan bir tekniktir. <br>
                Konu modelleme yöntemleri, özetleme, sınıflandırma ve kümeleme gibi birçok metin madenciliği alanında yüksek içerikli metinlere başarıyla uygulanmaktadır.</p>
              
            </section>
            <section class="sidebar">
             <div class="side_container side_container--fit">
                <div class = "item-1">
                    <form class="input_text" method="POST" action="{% url 'cat_sonuc'%}">
                        {% csrf_token %}
                        <label for="textarea"> 
                            <i class="fas fa-pencil-alt prefix"></i> Konu Tanımlama
                        </label> 
                        <h2>Kendi Metniniz ile Test Edin...</h2>
                        <textarea class="input" type="text" name="input_text"></textarea>
                        <br>
                        <button type="submit" class="btn" name="submit" >Dene</button>
                    </form>  
                    <label >Sonuç </label>
                        <div class="outcome"> 
                            {% if response %}
                                <p><strong>{{ response }}</strong></p>
                            {% endif %}
                        </div>
                </div>
                <div class = "item-2">
                    <h2>Ya da dosyalarınızı 
                        <br> aktarıp daha fazla 
                        <br>işlem gerçekleştirebilirsiniz.</h2>
                </div> 

                <div class = "item-3">
                    <div class="upload">
                        <div class="upload__info">
                          <span class="upload__filename">Örnek.csv</span>
                        </div>
                        <button class="upload__button">
                          <div class="upload__button__text">Yükle</div>
                        </button>
                        <div class="upload__hint">Yükleniyor...</div>
                        <div class="upload__progress">
                          <svg
                            width="16"
                            height="16"
                            class="check"
                            stroke="currentColor"
                            fill="none"
                            viewBox="0 0 13 11"
                          >
                            <polyline points="1 5.5 5 9.5 12 1.5"></polyline>
                          </svg>
                          Yüklendi
                        </div>
                      </div>
                </div> 
            </div>
            </section>
        
          </main>
        
        <!--===== GSAP =====-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'blog/js/links.js' %}"></script>
    </body>
</html>